/*Reseteamos las cajas*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

}


/*---------------------------CABECERA*/
body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


body>header{
  background-color: lightblue;
  display: table;
  width: 100%;
  position: fixed;
}


header figure {
  display: table-cell;
  padding: 20px;

}

header figure img{
  width: 90px;

}

header h1 {
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  font-weight: bold;
  font-size: 36px;
  font-family: Helvetica;
}

header nav {
  display: table-cell;
  padding-top: 20px;
  vertical-align: top;
  margin-left: auto;
  margin-right: auto;
}

header nav > ul{
text-align: right;
padding-right: 5px;

}

header nav > ul > li{
  display:inline-block;
  background-color: steelblue;
  padding: 6px 12px 6px 12px;
  margin-left: 10px;
}

header nav > ul > li > a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 14px;
  font-family: Verdana;
}
/*---------------------------FIN CABECERA*/



/*---------------------------CUERPO*/
.container{
  padding-top: 140px;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  flex: 1;
}

aside{
  background-color: lightgrey;
  width: 250px;
  float: right;
  padding:10px 0px 10px 0px;
}


aside>ul *{
    text-decoration: none;
    list-style: none;
    color: black;
    padding-left: 10px;
}

aside>ul *:hover{
  color: green;
}


li>ul{
  display: none;
}


aside>ul>li:hover ul{
  display:block;
}

article{
  background-color: linen;
  max-width: 700px;
  margin-bottom: 20px;
  padding: 25px 20px 25px 20px;
  border: 1px solid grey;
}


article>hgroup>header {
  font-weight: bold;
  font-size: 24px;
  font-family: Verdana;
}
article>hgroup>h2 {
  font-weight: bold;
  font-size: 14px;
  font-family: Verdana;
}

time>p{
  margin: 8px 0px 8px 0px;
  color: grey;
}

article>figure>img {
  width: 200px;
  height: 200px;
  margin: 8px;
}


article>figure>figcaption {
  font-style: italic;
}

article>footer>p{
  float: right;
  color:#2899c9;
  font-weight: bold;
}
/*---------------------------FIN CUERPO*/



/*---------------------------FOOTER*/
body>footer{
  padding-top: 10px;
  width: 100%;


}

body>footer>p{
  text-align: center;
  padding: 15px;
}
/*---------------------------FIN FOOTER*/
